
.container{
  max-width: 80%;
  /* min-height: 000px; */
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  border: none;
  
}

.header{
  color: rgb(20, 24, 27);
  font-size: larger;
  font-weight: bold ;
  display: flex;
  justify-content: center;
}
 
.h1{
  background-color: rgb(43, 43, 43);
  color: rgb(255, 255, 255);
  padding: 4px;
  border-radius: 5px;
}

.h2{
  padding: 6px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.home{
  background-color: rgba(49, 48, 48, 0.723);
  color: aliceblue;
  padding: 10px;
  border-radius: 4px;
  min-height: 700px;
}

.todo{
  background-color: rgba(0, 0, 0, 0.661);
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 10px;

}



.todo:hover{
  background-color: rgba(0, 0, 0, 0.848);  
}

.dlt-btn{
  background-color: rgba(255, 0, 0, 0.593);
  color: aliceblue;
  font-size: 20px;
}

.dlt-btn:hover{
  background-color: rgba(255, 0, 0, 0.22);
  color: aliceblue;
  cursor: pointer;
  
}

.form{
  padding: 10px;
  background-color: rgba(104, 232, 255, 0.891);
  border-radius: 4px;
  margin-bottom: 10px;
  color: black;
  
  
}

.form-field{
  display: flex;
  margin-top: 10px;
  align-items: center; 
}

.form-field label{
  flex-basis: 10%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;

}
.form-field input{
  flex-basis: 80%;
  border: none;
  margin-bottom: 0.5rem;
  max-width: 80%;
  border-radius: 0.2rem;
  min-height: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;

}

.form-field textarea{
  flex-basis: 80%;
  max-width: 80%;
  resize: none;
  border: none;
  min-height: 4rem;
  margin-bottom: 4px;
  padding: 0.2rem;
  border-radius: 0.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  margin-bottom: 1rem;

  /* overflow: hidden; */

}


.desc{
  inset-inline: 100%;
  overflow-wrap: break-word;
}
.add-btn{
  display: flex;
  justify-content: center;
  margin-bottom: 0.3rem;
}

.add-btn button{
  border-style: dashed;
  cursor: pointer;
  background-color: rgba(247, 112, 15, 0.771);
  font-family: fantasy;
  color: rgb(245, 223, 195);
  font-size: 20px;
  
}

.add-btn button:hover{
  background-color: rgb(17, 66, 135);
  color: antiquewhite;
}

